CLICKHOUSE_HOST={{ CLICKHOUSE_HOST }}
CLICKHOUSE_PORT={{ CLICKHOUSE_PORT }}
CLICKHOUSE_PASSWORD={{ CLICKHOUSE_PASSWORD }}
DATAFLOW_MQTT_HOST={{ DATAFLOW_MQTT_HOST }}
DATAFLOW_MQTT_LOGIN={{ DATAFLOW_MQTT_LOGIN }}
DATAFLOW_MQTT_PASSWORD={{ DATAFLOW_MQTT_PASSWORD }}
TIMESCALE_DBNAME={{ TIMESCALE_DBNAME }}
TIMESCALE_HOST={{ TIMESCALE_HOST }}
TIMESCALE_LOGIN={{ TIMESCALE_LOGIN }}
TIMESCALE_PASSWORD={{ TIMESCALE_PASSWORD }}
