[Unit]
Description=DataflowService
After=syslog.target


[Service]
Type=notify
EnvironmentFile=/opt/dashboard_app/environment
NotifyAccess=all
WorkingDirectory=/opt/sensors/
ExecStart=/usr/bin/java -server -jar de.growcer.dataflow.jar
SuccessExitStatus=143
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot


[Install]
WantedBy=multi-user.target
